{% for app in tomcat_applications %}
/usr/local/{{ app.app_name }}/logs/*.out
/usr/local/{{ app.app_name }}/logs/*.log
/usr/local/{{ app.app_name }}/logs/*.txt
{% endfor %}
{
        copytruncate
        dateext
        daily
        rotate 6
        compress
        delaycompress
        missingok
}
